body {
    background-image: url(../images/patter.jpg);
}
#container {
    width: 1200px;
    height: 799px;
    margin-left: auto;
    margin-right: auto;
    background-color: azure;
    font-family: 'Fjalla One', sans-serif;



}
#header {
    width:1200px;
    height: 100px;
    background-color: #DDA0DD;
    margin-top: 10px;
    position: absolute;
}
#holder {
    width: 1200px;
    margin-top: 5px;
    height: 90px;
    position: absolute;
    background-color: white;
}

#logo {
    background: url(../images/foodLogo.jpg) no-repeat;
    height: 120px;
    width: 130px;
    background-size:contain;
    position: absolute;
    margin-left: 10px;

}
.button {
    background-color: white;
    color: #DDA0DD;
    font-size: 1.6em;
    font-weight: bolder;
    float: right;
    margin-left: 10px;
    margin-top: 40px;

}
.button:hover {
    background-color: #DDA0DD; /* Green */
    color: white;
}
#menu {
    margin-right: 150px;
}
#lheader {
    width:1200px;
    background-color: white;
    height:30px;
    margin-top:107px;
    position: absolute;
    border-bottom: 1px solid #DDA0DD ;

}
i {
    color:darkorchid;
    font-size: 30px;
}
.sign {
    color: #DDA0DD;
    font-weight: bolder;
    float: right;
    margin-left: 10px;
    margin-top: 5px;

}
#spanz {
    margin-right: 150px;
    background-color: white;


}
.sign:hover {
    background-color: #DDA0DD; /* Green */
    color: white;
}
#scontainer {
    margin-right: 45px;
}
.inrrbox-1 {
    width: 360px;
    height: 250px;
    margin-top: 150px;
    background-color: white;
    border: 1px solid #DDA0DD ;
    margin-left: 15px;
    float: right;
    background: url(../images/food1.jpg) no-repeat;
    box-shadow: 0 0 5px rgba(0,0,0,.5) ;

}
.inrrbox-2 {
    width: 360px;
    height: 250px;
    margin-top: 10px;
    background-color: white;
    margin-left: 15px;
    border: 1px solid #DDA0DD ;
    float: right;
    background: url(../images/food1.jpg) no-repeat;
    box-shadow: 0 0 5px rgba(0,0,0,.5) ;
}
.inrrbox-3 {
    width: 360px;
    height: 250px;
    margin-top: 10px;
    background-color: white;
    margin-left: 15px;
    border: 1px solid #DDA0DD ;
    float: right;
    background: url(../images/food1.jpg) no-repeat;
    box-shadow: 0 0 5px rgba(0,0,0,.5) ;
}
#footer {
    width: 1200px;
    height: 80px;
    background-color:white;
    border: 1px solid #DDA0DD ;
    margin-top: 700px;
    position: absolute;
    border-bottom: 5px solid #DDA0DD;
}
.text {
    color: white;

}
.head {

    margin-top: 190px;
    font-weight: bolder;
    color: white;
    font-size: 1.2em;
}
.header {
    color: white;
}
.moover:hover{
    margin-top: 160px;
}
.moover {
    margin-top: 190px;
}

#fholder {
    width:1000px;
    height:520px;
    margin-left: 100px;

    background-color: white;
    border: 1px solid #DDA0DD;
    position: absolute;
    margin-top: 158px;
    box-shadow: 0 0 5px rgba(0,0,0,.5) ;
}

#uprline {
    width: 1000px;
    height: 2px;

    position: absolute;
    margin-top: 80px;
    background-color: #DDA0DD;

}
#lwrrline {
    width: 1000px;
    height: 2px;

    position: absolute;
    margin-top:10px;
    background-color: #DDA0DD;
}
.pinfo {
    color: #DDA0DD;
    font-size: 2.5em;
    float: right;
    margin-left: 10px;
    margin-top: 25px;
}
#pageinfo {
    margin-right: 250px;

}
.blockec {

}
#recipe1 {
    width: 910px;
    height: 400px;
    background-color: azure;
    border: 1px solid #DDA0DD;
    margin-top: 100px;
    margin-left: 40px;
    position: absolute;


}
#recipe2 {
    width: 450px;
    height: 400px;
    background-color: azure;
    border: 1px solid #DDA0DD;
    margin-top: 100px;
    margin-left:500px;
    position: absolute;


}
#textabout  {
    width: 600px;
    height: 300px;
    margin-left: 350px;
    position: absolute;
    margin-top: 100px;
    color:darkgrey;
}

#three {
    color: white;
    background-color: #DDA0DD;

}
.recipepic {
    width: 430px;
    height: 200px;
    margin-top: 10px;
    background-color: white;
    border: 1px solid darkgrey;
    margin-left: 10px;
}
.recipetext {
    width: 430px;
    margin-left: 10px;
    margin-top: 10px;
    height: 250px;
}
#recipepic1 {
    background: url(../images/foodz1.jpg) no-repeat;
    background-size:cover;
}
#recipepic2 {
    background: url(../images/foodz2.jpg) no-repeat;
    background-size: cover;
}